<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div>

        <h4 class="text-center">Change your password</h4>
        <p class="message" th:text = "${message}"></p>
        <hr/>

        <form class="login-form" th:action="@{/account}" th:method="post" th:object="${userBindingModel}">

            <label class="text-center" for="username">Username</label>
            <input type="text" class="login-form-control" id="username" placeholder="Username" th:field="*{username}" readonly>

            <label class="text-center" for="email">E-mail</label>
            <input type="email" class="login-form-control" id="email" placeholder="E-mail" th:field="*{email}" readonly>

            <input type="password" class="login-form-control" id="old-password" placeholder="Old Password" th:field="*{oldPassword}">
            <p class="message" id="old-password-error"></p>
            <p class="message" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>

            <input type="password" class="login-form-control" id="new-password" placeholder="New Password" th:field="*{password}">
            <p class="message" id="new-password-error"></p>
            <p class="message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <input type="password" class="login-form-control" id="confirm-password" placeholder="Confirm New Password" th:field="*{confirmPassword}">
            <p class="message" id="confirm-password-error"></p>

            <button type="submit" class="btn-lg btn-primary btn-block" onclick="return changePasswordValidation()">Save</button>

        </form>
    </div>
    <div>
        <h4 class="text-center">Delete your account</h4>
        <hr/>

        <form class="login-form" th:action="@{/account/delete}" th:method="get">
            <button type="submit" class="btn-lg btn-danger btn-block" >Delete</button>
        </form>
    </div>
</th:block>