<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h2 class="text-center">Forgotten password</h2>
        <p class="message" th:text = "${message}"></p>

        <hr/>

        <form class="login-form" th:action="@{/forgotten-password}" th:method="post" th:object="${userBindingModel}">

            <input class="login-form-control" type="text" placeholder="email" th:field="*{email}">
            <button class="btn-lg btn-primary btn-block" type="submit">Send</button>

        </form>

    </div>
</th:block>
