<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h2 class="text-center">Log In</h2>

        <p class="message" th:text = "${message}"></p>
        <p class="message" th:if="${param.error}">Invalid username or password!</p>

        <hr/>

        <form class="login-form" th:action="@{/login}" th:method="post" th:object="${userBindingModel}">

            <input class="login-form-control" type="text" id="username" placeholder="Username" th:field="*{username}">
            <p class="message" id="username-error"></p>

            <input class="login-form-control" type="password" id="password" placeholder="Password" th:field="*{password}">
            <p class="message" id="password-error"></p>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <button class="btn-lg btn-primary btn-block" type="submit" onclick="return loginValidation()">Login</button>
        </form>

        <p class="text-center">
            <a th:href="@{/forgotten-password}">Forgotten password</a>
        </p>
    </div>
</th:block>
