<th:block xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="toolbox">

        <div id="toolbox-left">
            <a role="button" class="btn btn-outline-primary" id="button-new-contact" th:href="@{/contacts/create}">Add new contact</a>

            <button type="button" class="btn btn-outline-danger" id="button-export" data-toggle="modal"
                    data-target="#export-modal">Export all contacts
            </button>

            <div class="modal fade" id="export-modal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Choose format to export contacts</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <a role="button" class="btn btn-primary" th:href="@{/contacts/export/csv}">CSV</a>
                            <a role="button" class="btn btn-primary" th:href="@{/contacts/export/json}">JSON</a>
                            <a role="button" class="btn btn-primary" th:href="@{/contacts/export/xml}">XML</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="toolbox-right">
            <form id="search-contact-form" th:action="@{/contacts/searching}" th:method="get">
                <input class="login-form-control" type="text" id="search-bar" placeholder="Search by first or last name"
                       th:name="name">
            </form>

            <form th:action="@{/contacts/sorting}" id="sort-form" th:method="get">
                <select onchange="this.form.submit()" class="login-form-control" th:name="criteria">
                    <option disabled selected>Sort By</option>
                    <option th:value="default">default</option>
                    <option th:value="first_name">first name</option>
                    <option th:value="last_name">last name</option>
                </select>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container">
        <table class="table table-light">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="contact, i : ${contacts}">
                <tr>
                    <td class="table-row" th:onclick="|rowClicked('${contact.id}')|" th:text="${i.index + 1}"></td>
                    <td class="table-row" th:onclick="|rowClicked('${contact.id}')|" th:text="|${contact.firstName} ${contact.lastName}|"></td>
                    <td class="table-row" th:onclick="|rowClicked('${contact.id}')|" th:text="${contact.numbers.isEmpty()} ? '' : ${contact.numbers[0].number} "></td>
                    <td><a th:text="${contact.email}" th:href="'mailto:' + ${contact.email}"></a></td>
                    <td>
                        <a th:href="@{/contacts/update/{id}(id=${contact.id})}" class="btn btn-primary btn-round">E</a>
                    </td>
                    <td><a href="" class="btn btn-danger btn-round" data-toggle="modal" data-target="#modal-warning"
                           th:attr="data-target='#modal-warning'+${contact.id}">D</a></td>
                </tr>

                <div class="modal fade" role="dialog" th:id="modal-warning+${contact.id}">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure you want to delete this contact?</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body button-center">
                                <a th:href="@{/contacts/delete/{id}(id=${contact.id})}" th:method="get"
                                   class="btn btn-outline-danger">Yes</a>
                                <a href="" role="button" class="btn btn-outline-danger" data-dismiss="modal">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            </tbody>
        </table>
    </div>

</th:block>