<th:block xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="text-center">
        <img th:src="@{'http://localhost:8080/' + ${filePath}}" class="img-thumbnail" width="250" height="250"
             onerror="this.style.display='none'"/>
    </div>

    <div class="button-center">
        <a th:href="@{/contacts/update/{id}(id=${contact.id})}" class="btn btn-outline-primary"> Edit </a>
        <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-warning"
           th:attr="data-target='#modal-warning'+${contact.id}">Delete</a>
    </div>

    <div class="modal fade" role="dialog" th:id="modal-warning+${contact.id}">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete this contact?</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body button-center">
                    <a th:href="@{/contacts/delete/{id}(id=${contact.id})}" th:method="get"
                       class="btn btn-outline-danger">Yes</a>
                    <a href="" role="button" class="btn btn-outline-danger" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center container">
        <table class="table" id="contact-details">
            <tbody th:object="${contact}">

            <tr>
                <td>Name:</td>
                <td colspan="2" th:text="|*{firstName} *{lastName}|"></td>
            </tr>

            <tr th:each="number, i: *{numbers}">
                <td>Phone number:</td>
                <td th:text="|${number.number}|"></td>
                <td th:text="|${number.type}|"></td>
            </tr>

            <tr th:if="*{email != ''}">
                <td>E-mail:</td>
                <td colspan="2"><a th:text="*{email}" th:href="'mailto:' + *{email}"></a></td>
            </tr>

            <tr th:if="*{website != ''}">
                <td>Website:</td>
                <td colspan="2"><a th:text="*{website}" th:target="_blank" th:href="@{'http://' + *{website}}"></a></td>
            </tr>

            <tr th:if="*{address != ''}">
                <td>Address:</td>
                <td colspan="2" th:text="*{address}"></td>
            </tr>

            <tr th:if="*{birthday != ''}">
                <td>Birthday:</td>
                <td colspan="2" th:text="*{birthday}"></td>
            </tr>

            <tr th:if="*{notes != ''}">
                <td>Notes:</td>
                <td colspan="2" th:text="*{notes}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>