<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <div>

        <h3 class="text-center">Create contact</h3>
        <hr />

        <form id="create-contact-form" enctype="multipart/form-data" class="login-form" th:action="@{/contacts/create}" th:method="post" th:object="${contactBindingModel}">

            <input type="hidden" th:field="*{username}">

            <input class="login-form-control" type="text" id="first-name" placeholder="First name" th:field="*{firstName}">
            <p class="message" id="first-name-error"></p>

            <input class="login-form-control" type="text" id="last-name" placeholder="Last name" th:field="*{lastName}">
            <p class="message" id="last-name-error"></p>

            <table id="add-phone-numbers">
                <tbody>
                    <tr th:each="i: ${#numbers.sequence(0, 4)}">

                        <td id="number">
                            <input class="login-form-control" type="text" placeholder="Phone number" th:field="*{numbers[__${i}__].number}">
                        </td>

                        <td id="number-type">
                            <select class="login-form-control" id="phone-type" th:field="*{numbers[__${i}__].type}">
                                <option value="">Select phone type</option>
                                <th:block th:each="type : ${phoneTypes}">
                                    <option th:value="${type}" th:text="|${type}|"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="message" id="number-type-error"></p>

            <input class="login-form-control" type="text" id="email" placeholder="E-mail" th:field="*{email}">
            <p class="message" id="email-error"></p>

            <input class="login-form-control" type="text" id="website" placeholder="Website" th:field="*{website}">
            <p class="message" id="website-error"></p>

            <input class="login-form-control" type="text" id="address" placeholder="Address" th:field="*{address}">

            <input class="login-form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="birthday" placeholder="Birthday" th:field="*{birthday}">
            <p class="message" id="birthday-error"></p>

            <textarea class="login-form-control" type="text" id="notes" placeholder="Notes" th:field="*{notes}" rows="5"></textarea>
            <p class="message" id="notes-error"></p>

            <input class="login-form-control" type="file" accept="image/*" id="picture" th:field="*{picture}">

            <button type="submit" class="btn-lg btn-primary btn-block" onclick="return contactValidation()">Save</button>
        </form>
    </div>
</th:block>