<th:block th:fragment xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
    <a th:href="@{/}">
        <text> PhoneBook™</text>
    </a>

    <div>
        <a th:href="@{/contacts}">Contacts</a>

        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{/account}">Account</a>

            <a href="javascript: logout()">Logout</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit"/>
            </form>
        </th:block>
    </div>
</th:block>