
body,main{
    height:auto;
    min-height: 100vh;
    background-color: #eeeeee;
}

nav {
    overflow: hidden;
    background-color: #333333;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 14px 16px;
    text-decoration: none;
}

nav div{
    float: right;
}

nav a:hover {
    background-color: #cccccc;
    color: black;
    text-decoration: none;
}

footer {
    padding: 1%;
    background-color: #333333;
    color: #f2f2f2;
    text-align: center;
    font-size: medium;
    overflow: hidden;
}

hr{
    width: 50%;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.button-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
    margin: 1%;
}

.jumbotron {
    opacity: 0.8;
    height: 30vh;
}

.img-thumbnail{
    border-radius: 50%;
}

.message {
    color: red;
    text-align: center;
}

.login-form {
    max-width: 330px;
    padding: 15px;
    margin:auto;
}

.login-form-control {
    position: inherit;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: medium;
}

.login-form input, button, select, textarea, #button-new-contact, #button-export{
    margin-top: 10px;
}

.btn-round{
    border-radius: 50%;
}

.btn{
    margin-right: 5px;
}

.table tbody tr:hover{
    background: #cccccc
}

.table-row{
    cursor:pointer;
}

#create-contact-form, #update-contact-form{
    max-width: 500px;
    padding: 15px;
    margin:auto;
}

#contact-details.table{
    margin-top: 5%;
    background: #eeeeee;
    table-layout: fixed;
    width: 100%;
}
#contact-details.table td {
    word-wrap:break-word;
}

#add-phone-numbers td {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

#add-phone-numbers td:first-child {
    padding-left: 0;
}

#add-phone-numbers td:last-child {
    padding-right: 0;
}

#icon{
    height: 20px;
    width: 20px;
}

#search-contact-form, #sort-form{
    width: 300px;
    display:inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#toolbox-left{
    margin-left: 12%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
}

#toolbox-right{
    margin-right: 12%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: right;
}

#error-message{
    padding-top: 2%;
}











