<th:block th:fragment>
    <main class="image-container">
        <div class="jumbotron col-md-11 mx-5">

            <th:block sec:authorize="isAnonymous()">
                <h1 class="text-center">Welcome to PhoneBook™</h1>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <h1 class="text-center" th:text="|Hello, ${username}|"> </h1>
            </th:block>

            <hr/>

            <th:block sec:authorize="isAnonymous()">
                <div class="button-center">
                    <a th:href="@{/login}" class="btn btn-outline-info btn-lg">Sign In</a>
                    <a th:href="@{/register}" class="btn btn-outline-info btn-lg">Sign Up</a>
                </div>
            </th:block>

        </div>
    </main>
</th:block>