<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h2 class="text-center">Register</h2>
        <hr/>

        <form class="login-form" th:action="@{/register}" th:method="post" th:object="${userBindingModel}">

            <input type="text" class="login-form-control" id="username" placeholder="Username" th:field="*{username}">
            <p class="message" id="username-error"></p>

            <input type="email" class="login-form-control" id="email" placeholder="E-mail" th:field="*{email}">
            <p class="message" id="email-error"></p>

            <input type="password" class="login-form-control" id="password" placeholder="Password" th:field="*{password}">
            <p class="message" id="password-error"></p>

            <input type="password" class="login-form-control" id="confirm-password" placeholder="Confirm Password" th:field="*{confirmPassword}">
            <p class="message" id="confirm-password-error"></p>

            <button type="submit" class="btn-lg btn-primary btn-block" onclick="return registerValidation()">Register</button>

            <hr th:if="${#fields.hasErrors()}"/>

            <p class = "message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
            <p class = "message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>

        </form>
    </div>
</th:block>
